@tailwind base;
@tailwind components;
@tailwind utilities;


#logoImg {
    width: clamp(6.875rem, 5.9722rem + 3.7037vw, 8.75rem);
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @apply bg-grayishBlue;
    height: 100vh;
    @apply w-full;
    text-align: left;
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.mobile-menu.open {
    transform: translateX(0);
}

