@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom classes  */
.section {
    @apply px-0 md:px-32 max-w-[1200px] mx-auto;
}


/* end custom classes  */


#logoImg {
    width: clamp(6.875rem, 5.9722rem + 3.7037vw, 8.75rem);
}

/* mobile menu styling  */
.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @apply bg-grayishBlue;
    height: 100vh;
    @apply w-full;
    text-align: left;
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.mobile-menu.open {
    transform: translateX(0);
}

/* end mobile menu styling  */

/* change arrow button  */
.swiper-button-next { 
    background-image: url(./assets/navNext.svg)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    
}

.swiper-button-next::after {
    display: none!important;
  }

  .swiper-button-prev { 
    background-image: url(./assets/navPrev.svg)!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    
}

.swiper-button-prev::after {
    display: none!important;
  }

  @media (max-width: 767px) {
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev {
        display: none;
    }
  }

 /* end change arrow button  */

/* image slider & lightbox  */
#thumbnails {
    max-width: 448px;
    min-width: 0;
}

@media (max-width: 1000px) {
    #thumbnails {
        display: none;
    }
}

.lightboxSwiper {
    max-width: 400px; 
}

.lightbox {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.lightbox-backdrop {
    z-index: 999;
    opacity: 0.9;
}

#lightbox-thumbnails {
    max-width: 400px;
}

/* end image slider and lightbox  */